*.swp
*.swo
*.~*
build/
node_modules/
*__pycache__
meet-data/cpu/fetch/
meet-data/spf/fetch/
meet-data/uspa/fetch/
meet-data/wrpf/fetch/
web/npm-debug.log
server/target/
.idea/*
server/.idea/*
server/package-lock.json
