<select id="equipmentselect">
  <option value="raw"{% if selection.equipment == "Raw" %} selected{% endif %}>{{strings.equipment.classic}}</option>
  <option value="single"{% if selection.equipment == "Single" %} selected{% endif %}>{{strings.equipment.equipped}}</option>
</select>
