<select id="eventselect">
  <option value="full-power"{% if selection.event == "FullPower" %} selected{% endif %}>{{strings.selectors.event.full_power}}</option>
  <option value="bench-only"{% if selection.event == "BenchOnly" %} selected{% endif %}>{{strings.selectors.event.bench_only}}</option>
</select>
