#controls-mobile {
  #controls-mobile-toggle-button {
    background: url($control-mobile-filter-icon) 96% no-repeat $control-background-color;
    background-color: transparent;
    background-size: 100%;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 5px;
    top: 2px;
    border: none;
  }
}

#controls-mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  z-index: 2;
  padding-top: 10px;

  #controls-mobile-filters {
    display: flex;
    flex-direction: column;

    select {
      width: 93%;
      margin: unset;
      margin-top: 10px;
      align-self: center;
      background-size: 4%;
      font-size: 12pt;
      padding: 5px;
      border-radius: 0px;
    }
  }

  #controls-mobile-search-input {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;

    input {
      margin: unset;
      width: 90%;
      font-size: 12pt;
    }
  }

  #controls-mobile-search-button {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      font-size: 12pt;
      width: auto;
    }
  }
}
