{{#*inline "topbar-hack"}}
  <div class="topbar">
{{/inline}}
{{#*inline "topbar-hack-end"}}
  </div>
{{/inline}}

{{#*inline "controls"}}
  <div id="controls"></div>
{{/inline}}

{{#*inline "body"}}
<center>
<div class="text-content">
  
<h1>Contact Information</h1>
  
<p>Please address all inquiries to: <a href="mailto:updates@openpowerlifting.org">updates@openpowerlifting.org</a>.</p>

<p>For corrections to data, please include a link to the corrections, preferably from a federation-linked source. Video evidence is also acceptable in the case of federation error or omission.</p>

<p>If a meet is missing, and you would like it to be added, please feel free to send an email! If the meet is a recent meet in the USPA, RPS, or USAPL, there is a good chance it will be added within a week. Other federations are updated on a less frequent basis, as they require manual checking.</p>

<p>If you would like to contribute data, please send an email! Help is always appreciated. Every meet requires manual work, and there's more than enough to go around!</p>

<p>
  <a href="https://instagram.com/openpowerlifting"><i class="fa fa-instagram fa-2x"></i></a>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <a href="https://facebook.com/openpowerlifting"><i class="fa fa-facebook fa-2x"></i></a>
</p>

</div>
</center>
{{/inline}}

{{~> desktop-base}}
