<!DOCTYPE html>
<html>
<head>
  {{! Dynamic header parts. }}
  <title>{{#if title}}{{title}}{{else}}OpenPowerlifting{{/if}}</title>

  {{! Static header parts. }}
  <meta charset="utf-8">

  {{! External sources -- these should be self-hosted eventually. }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {{! Internal sources. }}
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
  <div class="topbar">
    {{> header}}
    {{~> controls}}
  </div>
  {{~> body}}
  {{> google-analytics}}
</body>
</html>
