<!DOCTYPE html>
<html>
<head>
  {{! Dynamic header parts. }}
  <title>{{#if base.title}}{{base.title}}{{else}}OpenPowerlifting{{/if}}</title>

  {{! Static header parts. }}
  <meta charset="utf-8">

  {{! External sources -- these should be self-hosted eventually. }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {{! Internal sources. }}
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>

  {{~> includes}}
</head>
<body>
  {{! This isn't great. The Rankings page wants one huge Flexbox, and the other
      pages want specially-marked headers. So we do both, for the moment. Gross! }}
  {{~> flexbox-hack}}
    {{~> topbar-hack}}
      {{> header}}
      {{~> controls}}
    {{~> topbar-hack-end}}
    {{~> body}}
  {{~> flexbox-hack-end}}
  {{> google-analytics}}
</body>
</html>
