<select id="fedselect">
  <option value="all" selected>All Feds</option>
  <option value="AAU,ADFPA,AsianPF,BP,CommonwealthPF,CPU,EPA,EPF,FESUPO,FFForce,IDFPF,IPF,IrishPF,NAPF,NASA,NIPF,NSF,NZPF,OceaniaPF,PA,RAW,ScottishPL,THSPA,USAPL,WelshPA,WNPF">
    All Drug-Tested Feds
  </option>
  <optgroup label="International">
    <option value="GPA">GPA - Global Powerlifting Alliance (Incomplete)</option>
    <option value="GPC">GPC - Global Powerlifting Committee (Incomplete)</option>
    <option value="IPF">IPF - International Powerlifting Federation (Incomplete)</option>
    <option value="IPL">IPL - International Powerlifting League (Incomplete)</option>
    <option value="WPC">WPC - World Powerlifting Congress (Incomplete)</option>
    <option value="WUAP">WUAP - World United Amateur Powerlifting (Incomplete)</option>
  </optgroup>
  <optgroup label="Regional">
    <option value="AsianPF">AsianPF - Asian Powerlifting Federation [IPF] (Incomplete)</option>
    <option value="CommonwealthPF">CommonwealthPF - Commonwealth Powerlifting Federation [IPF]</option>
    <option value="EPF">EPF - European Powerlifting Federation [IPF] (Incomplete)</option>
    <option value="FESUPO">FESUPO - Federación Sudamericana de Powerlifting [IPF] (Incomplete)</option>
    <option value="NAPF">NAPF - North American Powerlifting Federation [IPF] (Incomplete)</option>
    <option value="OceaniaPF">OceaniaPF - Oceania Powerlifting Federation (Incomplete)</option>
  </optgroup>
  <optgroup label="United States">
    <option value="365Strong,ADFPA,AAU,APA,APC,APF,HERC,IPA,MHP,MM,NASA,RAW,RPS,RUPC,SPF,THSPA,UPA,USAPL,USPA,USPF,XPC,WNPF">
      All United States Feds
    </option>
    <option value="365Strong">365Strong - 365 Strong Powerlifting Federation</option>
    <option value="AAU">AAU - Amateur Athletic Union (Incomplete)</option>
    <option value="APA">APA - American Powerlifting Association [WPA] (Incomplete)</option>
    <option value="APC">APC - American Powerlifting Committee [GPA/IPO] (Incomplete)</option>
    <option value="APF">APF - American Powerlifting Federation [WPC] (Help Needed!)</option>
    <option value="HERC">HERC - Hercules</option>
    <option value="IPA">IPA - International Powerlifting Association (2014+)</option>
    <option value="MHP">MHP - Maximum Human Performance (Incomplete)</option>
    <option value="MM">MM - Metal Militia (Incomplete)</option>
    <option value="NASA">NASA - Natural Athlete Strength Association (2016+)</option>
    <option value="RAW">RAW - 100% RAW Powerlifting Federation (Help Needed!)</option>
    <option value="RPS">RPS - Revolution Powerlifting Syndicate</option>
    <option value="RUPC">RUPC - Raw Unity Powerlifting Championships</option>
    <option value="SPF">SPF - Southern Powerlifting Federation</option>
    <option value="THSPA">THSPA - Texas High School Powerlifting Assocation (Single-ply)</option>
    <option value="UPA">UPA - United Powerlifting Association</option>
    <option value="ADFPA,USAPL">USAPL - USA Powerlifting [IPF] (2014+)</option>
    <option value="USPA">USPA - United States Powerlifting Association [IPL]</option>
    <option value="USPF">USPF - United States Powerlifting Federation (Incomplete)</option>
    <option value="XPC">XPC - Xtreme Powerlifting Coalition</option>
    <option value="WNPF">WNPF - World Natural Powerlifting Federation</option>
  </optgroup>
  <optgroup label="Australia">
    <option value="CAPO,GPC-AUS,PA,ProRaw">
      All Australian Feds
    </option>
    <option value="CAPO">CAPO - CAPO Powerlifting [WPC/GPA/IPO] (2017+)</option>
    <option value="GPC-AUS">GPC-AUS - GPC Australia [GPC] (Help Needed!)</option>
    <option value="PA">PA - Powerlifting Australia (2008+)</option>
    <option value="ProRaw">ProRaw</option>
    <option value="WRPF-AUS">WRPF-AUS - WRPF Australia [WRPF] (Incomplete)</option>
  </optgroup>
  <optgroup label="Canada">
    <option value="CPF,CPL,CPU,WRPF-CAN">
      All Canadian Feds
    </option>
    <option value="CPF">CPF - Canadian Powerlifting Federation [WPC] (2016+)</option>
    <option value="CPL">CPL - Canadian Powerlifting League [IPL]</option>
    <option value="CPU">CPU - Canadian Powerlifting Union [IPF]</option>
    <option value="WRPF-CAN">WRPF-CAN - WRPF Canada [WRPF]</option>
  </optgroup>
  <optgroup label="Finland">
    <option value="FPO">FPO - Finland Powerlifting Organization [IPA] (Incomplete)</option>
  </optgroup>
  <optgroup label="France">
    <option value="FFForce">FFForce - Fédération Française de Force [IPF] (Incomplete)</option>
  </optgroup>
  <optgroup label="Ireland">
    <option value="IDFPF,IrishPF">
      All Irish Feds
    </option>
    <option value="IDFPF">IDFPF - Irish Drug-Free Powerlifting Federation [WDFPF]</option>
    <option value="IrishPF">IrishPF - Irish Powerlifting Federation [IPF]</option>
  </optgroup>
  <optgroup label="New Zealand">
    <option value="NZPF">NZPF - New Zealand Powerlifting Federation [IPF] (Incomplete)</option>
  </optgroup>
  <optgroup label="Norway">
    <option value="NSF">NSF - Norges Styrkeløftforbund [IPF]</option>
  </optgroup>
  <optgroup label="Russia">
    <option value="BB,SCT,WRPF">
      All Russian Feds
    </option>
    <option value="BB">BB - Bogatyr Brotherhood [GPA]</option>
    <option value="SCT">SCT - Super-Cup of Titans (Single-ply)</option>
    <option value="WRPF">WRPF - World Raw Powerlifting Federation (Incomplete)</option>
  </optgroup>
  <optgroup label="United Kingdom">
    <option value="BP,BPU,EPA,GPC-GB,NIPF,ScottishPL,WelshPA">
      All United Kingdom Feds
    </option>
    <option value="BP,EPA,NIPF,ScottishPL,WelshPA">BP - British Powerlifting [IPF] (2017+)</option>
    <option value="BPU">BPU - British Powerlifting Union [WPC] (Incomplete)</option>
    <option value="EPA">EPA - English Powerlifting Association [IPF] (Incomplete)</option>
    <option value="GPC-GB">GPC-GB - GPC Great Britain [GPC] (Help Needed!)</option>
    <option value="NIPF">NIPF - Northern Ireland Powerlifting Federation [IPF]</option>
    <option value="ScottishPL">ScottishPL - Scottish Powerlifting [IPF] (Incomplete)</option>
    <option value="WelshPA">WelshPA - Welsh Powerlifting Association [IPF] (Incomplete)</option>
  </optgroup>
</select>
