<select id="langselect">
  <option value="en" {% if language == "en" %}selected{% endif %}>English</option>
  <option value="es" {% if language == "es" %}selected{% endif %}>Español</option>
  <option value="eo" {% if language == "eo" %}selected{% endif %}>Esperanto</option>
  <option value="ru" {% if language == "ru" %}selected{% endif %}>Русский</option>
</select>
