<select id="langselect">
  <option value="en-US" {% if language == "en-US" %}selected{% endif %}>English (US)</option>
  <option value="ru" {% if language == "ru" %}selected{% endif %}>Русский</option>
</select>
