{{#*inline "controls"}}
  <div id="controls">
    <div id="controls-left">
      <span id="lifter">No lifter specified.</span>
      <select id="weighttype">
        <option value="lb">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
  </div>
{{/inline}}

{{#*inline "body"}}
  <div class="text-content">
    Successfully rendered template!
  </div>
{{/inline}}

{{~> desktop-base}}
