<select id="yearselect">
  <option value="all"{% if selection.year == "AllYears" %} selected{% endif %}>{{strings.selectors.year.all}}</option>
  <option value="2018"{% if selection.year == "Year2018" %} selected{% endif %}>2018</option>
  <option value="2017"{% if selection.year == "Year2017" %} selected{% endif %}>2017</option>
  <option value="2016"{% if selection.year == "Year2016" %} selected{% endif %}>2016</option>
  <option value="2015"{% if selection.year == "Year2015" %} selected{% endif %}>2015</option>
  <option value="2014"{% if selection.year == "Year2014" %} selected{% endif %}>2014</option>
</select>
