<select id="weightunits">
  <option value="lbs" {% if units == "lbs" %}selected{% endif %}>{{strings.units.lbs}}</option>
  <option value="kg" {% if units == "kg" %}selected{% endif %}>{{strings.units.kg}}</option>
</select>
