{{#*inline "flexbox-hack"}}
  <div class="flexbox">
{{/inline}}
{{#*inline "flexbox-hack-end"}}
  </div>
{{/inline}}

{{#*inline "includes"}}
  <link rel="stylesheet" type="text/css" href="static/slick.grid.css" />
  <script src="static/scripts/jquery-slickgrid-2.2.6.min.js"></script>
  <script src="static/scripts/social-media.js"></script>
  <script src="static/scripts/openpowerlifting.js"></script>
  <script src="static/scripts/meets.js"></script>
  <script src="static/scripts/common.bundle.js"></script>
  <script src="static/scripts/index.bundle.js" defer></script>
{{/inline}}

{{#*inline "controls"}}
  <div id="controls">
    <div id="controls-left">
      <input type="checkbox" id="raw" checked="true" />
      <label for="raw"><span></span>Raw</label>

      <input type="checkbox" id="wraps" checked="true" />
      <label for="wraps"><span></span>Wraps</label>

      <input type="checkbox" id="single" />
      <label for="single"><span></span>Single</label>

      <input type="checkbox" id="multi" />
      <label for="multi"><span></span>Multi</label>

      {{> weightclass}}
      {{> fedselect}}

      <select id="yearselect">
        <option value="all">All Years</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
      </select>

      <input type="checkbox" id="men" checked="true">
      <label for="men"><span></span>Men</label>

      <input type="checkbox" id="women" checked="true">
      <label for="women"><span></span>Women</label>

      <select id="weighttype">
        <option value="lb">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
    <div id="controls-right">
      <input type="text" id="searchfield" autofocus/>
      <button id="searchbutton">Search</button>
    </div>
  </div>
{{/inline}}

{{#*inline "body"}}
  <div style="height: 100%; display: flex">
    <div id="theGrid"></div>
  </div>
{{/inline}}

{{~> desktop-base}}
