{% import "build/static-asset-map" as statics %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>OPL Checker</title>

  <style>
body {
    background-color: #272727;
    color: #EDF2F4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h2 {
    color: #FB3640;
}
label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    background-color: #333333;
    color: #EDF2F4;

    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #444;
    box-shadow: 1px 1px 1px #222;
}
label {
    display: block;
    margin-bottom: 10px;
}
  </style>

  <script defer src="/static/scripts/{{statics::checker_js()}}"></script>
</head>
<body>
  <h2>OpenPowerlifting Online Checker: "Clippy" Edition</h2>
  <div>This is the first version of the online checker. Note that it doesn't check everything yet: it doesn't know about CONFIG.toml files, for example. The nice thing is that it responds immediately. Please let me know if you find this useful and would like to see it improved! There are lots of obvious things to do to make this tool really pleasant.</div>
  <br/>
  <div><b>NEW!</b> Copy/pasting works from spreadsheet software.</div>
  <div><b>NEW!</b> There's a handy button to auto-convert to Kg.</div>
  <div><b>NEW!</b> There's a button that auto-(re)calculates the Place column.</div>
  <br/>

  <button id="checkButton">Check</button>

  <br/><br/>

  <pre id="ioErrorPre"></pre>
  <pre id="meetErrorPre"></pre>
  <label for="meet">meet.csv:</label>
  <textarea id="meetTextArea" name="meet" rows="2" cols="80">Federation,Date,MeetCountry,MeetState,MeetTown,MeetName&#13;&#10;</textarea>

  <br/><br/>

  <pre id="entriesErrorPre"></pre>
  <button id="toKgButton">Convert to Kg</button>
  <button id="calcPlaceButton">Calculate Place</button>
  <button id="standardiseCountriesButton">Standardise Countries</button>
  <button id="roundKgButton">Round to nearest 0.5kg</button>
  <label for="entries">entries.csv:</label>
  <textarea id="entriesTextArea" name="entries" rows="16" cols="120"></textarea>
</body>
</html>
