[package]
name = "server"
version = "0.1.0"
authors = ["Sean Stangl <sean.stangl@gmail.com>"]

[dependencies]
diesel = { version = "1.1", features = ["sqlite", "huge-tables"] }
diesel_infer_schema = { version = "1.1", features = ["sqlite"] }
r2d2-diesel = "1.0"
r2d2 = "0.8"
dotenv = "0.10"
serde = "1.0"
serde_derive = "1.0"
rocket = "0.3.6"
rocket_codegen = "0.3.6"
rocket_contrib = { version = "0.3.6", features = ["handlebars_templates"] }
