<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="static/slick.grid.css" />
  <script src="static/scripts/jquery-slickgrid-2.2.6.min.js"></script>
  #include templates/header.frag
  #include templates/analytics.frag
  <script src="static/scripts/social-media.js"></script>
  <script src="static/scripts/openpowerlifting.js"></script>
  <script src="static/scripts/meets.js"></script>
  <script src="static/scripts/common.bundle.js"></script>
  <script src="static/scripts/index.bundle.js" defer></script>
</head>

<body>
  <div class="flexbox">
    #exec python3 gen-header rankings
    <div id="controls">
      <div id="controls-left">
        <select id="equipmentselect">
          <option value="raw">Raw</option>
          <option value="wraps">Wraps</option>
          <option value="raw_wraps" selected>Raw+Wraps</option>
          <option value="single">Single-ply</option>
          <option value="multi">Multi-ply</option>
        </select>

        #include templates/weightclass.frag
        #include templates/fedselect.frag

        <select id="yearselect">
          <option value="all">All Years</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
        </select>

        <select id="sexselect">
          <option value="all" selected>All Sexes</option>
          <option value="M">Men</option>
          <option value="F">Women</option>
        </select>
      </div>
      <div id="controls-right">
        #include templates/search.frag
        <select id="weighttype">
          <option value="lb">lbs</option>
          <option value="kg">kg</option>
        </select>
      </div>
    </div>
    <div id="theGrid">
      <p>
      There was an error loading JavaScript -- that happens on some Apple devices.</br>
      If you're on a desktop, loading the site in Firefox or Chrome will work.</br>
      </p>
      <p>
      We're working on fixing this, but the fix involves rewriting the whole site,
      so it's likely to take a while.
      </p>
      <p>
      In the meantime, if you'd like, you can take a look at the</br>
      <i>(UNFINISHED WORK IN PROGRESS LOTS OF BUGS)</i></br>
      new version, here: <a href="http://beta.openpowerlifting.org">http://beta.openpowerlifting.org</a>.
      </p>
      <p>
      That will at least load on phones, even if it's not ready yet.
      </p>
    </div>
  </div>
</body>

</html>
