<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/slick.grid.css"/>
    <script src="static/scripts/jquery-slickgrid-2.2.6.min.js"></script>

#include templates/header.frag
#include templates/analytics.frag

    <script src="static/scripts/social-media.js"></script>
    <script src="static/scripts/openpowerlifting.js"></script>
    <script src="static/scripts/meets.js"></script>
    <script src="static/scripts/common.bundle.js"></script>
    <script src="static/scripts/lifters.bundle.js" defer></script>
  </head>

  <body>
    <div class="flexbox">
#exec python3 gen-header lifters
      <div id="controls">
        <div id="controls-left">
          <span id="lifter"></span>
        </div>
        <div id="controls-right">
          <select id="weighttype">
            <option value="lb">lbs</option>
            <option value="kg">kg</option>
          </select>
        </div>
      </div>
      <div id="theGrid">
        Error loading database (or it's just taking a really long time).</br>
        If it's taking too long, you can switch to our secret beta site by clicking this button: <button onclick="window.location=document.URL.replace('https://www.','http://beta.')">Switch to Beta!</button></br>
        Not everything is implemented yet, still lots to do. Send feedback!
      </div>
      <div class="info">
        Requests / Corrections / Feedback: <a href="mailto:updates@openpowerlifting.org">updates@openpowerlifting.org</a>.
      </div>
    </div>
  </body>
</html>
