<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>OpenPowerlifting</title>

    <link rel="stylesheet" type="text/css" href="slick.grid.css"/>
    <script src="scripts/jquery-slickgrid-2.2.6.min.js"></script>

#include templates/analytics.frag

    <script src="scripts/social-media.js"></script>
    <script src="scripts/openpowerlifting.js"></script>
    <script src="scripts/meets.js"></script>
    <script src="scripts/common.bundle.js"></script>
    <script src="scripts/lifters.bundle.js" defer></script>

    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <div class="flexbox">
#exec python3 gen-header lifters
      <div id="controls">
        <div id="controls-left">
          <span id="lifter">No lifter specified.</span>
          <select id="weighttype">
            <option value="lb">lbs</option>
            <option value="kg">kg</option>
          </select>
        </div>
      </div>
      <div id="theGrid"></div>
      <div class="info">
        Requests / Corrections / Feedback: <a href="mailto:updates@openpowerlifting.org">updates@openpowerlifting.org</a>.
      </div>
    </div>
  </body>
</html>
