<!DOCTYPE html>
<html>

<head>
  #include templates/header.frag
  #include templates/analytics.frag
  <script src="static/scripts/common.bundle.js"></script>
  <script src="static/scripts/meetlist.bundle.js" defer></script>
  <link rel="stylesheet" type="text/css" href="static/meettable.css" />
</head>

<body>
  <div class="topbar">
    #exec python3 gen-header meetlist
    <div id="controls">
      <div id="controls-left">
        #include templates/fedselect.frag
      </div>
      <div id="controls-right">
        #include templates/search.frag
      </div>
    </div>
  </div>
  <div class="content">
    #exec python3 gen-meettable
  </div>
</body>

</html>
