<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>OpenPowerlifting</title>

#include templates/analytics.frag

    <script src="scripts/social-media.js"></script>
    <script src="scripts/openpowerlifting.js"></script>
    <script src="scripts/meets.js"></script>
    <script src="scripts/common.js"></script>
    <script src="scripts/database.js"></script>
    <script src="scripts/main-meet.js" defer></script>

    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <div class="topbar">
#exec python3 gen-header meet
      <div id="controls">
        <div id="controls-left">
          <span id="meet">No meet specified.</span>
          <select id="displaytype">
            <option value="wilks">By Wilks</option>
            <option value="division">By Division</option>
          </select>
          <select id="weighttype">
            <option value="lb">lbs</option>
            <option value="kg">kg</option>
          </select>
        </div>
        <div id="controls-right">
          <span id="editurl"></span>
        </div>
      </div>
    </div>
    <div class="content"></div>
  </body>
</html>
