<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>OpenPowerlifting</title>
  #include templates/analytics.frag
  <script src="scripts/common.bundle.js"></script>
  <script src="scripts/meetlist.bundle.js" defer></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="meettable.css" />
</head>

<body>
  <div class="topbar">
    #exec python3 gen-header meetlist
    <div id="controls">
      <div id="controls-left">
        #include templates/fedselect.frag
      </div>
      <div id="controls-right">
        #include templates/search.frag
      </div>
    </div>
  </div>
  <div class="content">
    #exec python3 gen-meettable
  </div>
</body>

</html>
