<!DOCTYPE html>
<html>
  <head>
#include templates/header.frag
#include templates/analytics.frag

    <script src="static/scripts/social-media.js"></script>
    <script src="static/scripts/openpowerlifting.js"></script>
    <script src="static/scripts/meets.js"></script>
    <script src="static/scripts/common.bundle.js"></script>
    <script src="static/scripts/meet.bundle.js" defer></script>
  </head>

  <body>
    <div class="topbar">
#exec python3 gen-header meet
      <div id="controls">
        <div id="controls-left">
          <span id="meet">No meet specified.</span>
          <select id="displaytype">
            <option value="wilks">By Wilks</option>
            <option value="division">By Division</option>
          </select>
        </div>
        <div id="controls-right">
          <span id="editurl"></span>
          <select id="weighttype">
            <option value="lb">lbs</option>
            <option value="kg">kg</option>
          </select>
        </div>
      </div>
    </div>
    <div class="content"></div>
  </body>
</html>
