html,body {
  margin: 0;
  padding: 0;
  height: 100%;

  background-color: #000000;
  color: #FFFFFF;

  font-family: verdana,helvetica,arial,sans-serif;
}

.slick-cell {
  padding-top: 4px;
  padding-left: 5px;
  color: #FFFFFF;
  font-size: 9pt;
  border: 0px;
}

.slick-cell a {
  color: #FFFFFF;
}

.searchflashing {
  background-color: #444444;
}

.slick-header-column {
  font-size: 9pt;
  color: red;
}

.slick-header-column.ui-state-default {
  border-right: 0px;
  border-bottom: 1px red;
}

.slick-header-column-sorted {
  text-decoration: underline;
  font-style: normal;
}

.slick-row.even {
  background-color: #111111;
}

.slick-row:hover {
  background-color: #444444;
}

table {
  font-size: 9pt;
  color: #FFFFFF;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-spacing: 0px;
  border: none;
}

thead {
  color: red;
}

thead td {
  min-width: 80px;
}

tr:nth-child(even) {
  background-color: #111111;
}

tbody tr:hover {
  background-color: #444444;
}

td {
  border: 0px;
  padding-right: 0px;
  padding-left: 5px;
  height: 21px;
}

td a {
  color: #FFFFFF;
}

.table-divider {
  color: red;
}

.flexbox {
  display: flex;
  height: 100%;
  flex-flow: column;
}

#theGrid {
  flex: 1;
}

#oplurl {
  color: red;
}

#header {
  padding: 8px;
  font-size: 15pt;
  color: red;
  font-variant: small-caps;
}

#header a {
  color: #FFFFFF;
}

#controls {
  height: 28px;
  display: flex;
  font-size: 10pt;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #111111;
  display: flex;
  align-items: center;
}

#controls-left {
}

#controls-right {
  margin-left: auto;
}

/* From http://jsfiddle.net/danield770/YvCHW/4232/ */
select {
  padding: 3px;
  margin-left: 5px;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: #3E4042;
  color: white;
  font-size: 10pt;
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(images/select_dropdown.png) 96% / 15% no-repeat #3E4042;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
  select {
    background: none;
  }
}

input[type="text"] {
  padding: 3px 5px 3px 5px;
  margin-left: 5px;
  border: 1px solid #333333;
  background-color: #3E4042;
  color: white;
  font-size: 10pt;
  width: 200px;
}

button {
  padding: 3px 8px 3px 8px;
  margin-left: 5px;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: #3E4042;
  color: white;
  font-size: 10pt;
  width: 70px;
  cursor: pointer;
}

button:hover {
  background-color: #56585C;
}

button:active {
  background-color: #303133;
}

/* From http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 0px 1px 3px 5px;
  vertical-align: middle;
  background:url(images/check_radio_sheet.png) left top no-repeat;
  cursor: pointer;
}
input[type="checkbox"]:checked + label span {
  background:url(images/check_radio_sheet.png) -19px top no-repeat;
}

#lifter {
  font-size: 10pt;
  margin-left: 4px;
}

div.topbar {
  position: fixed;
  width: 100%;
  background-color: #000000;
}

div.content {
  padding-top: 82px;
}
