{% extends "openpowerlifting/mobile/base" %}
{% block footer_hack %}
  <footer>
{% endblock footer_hack %}

{% block footer_hack_end %}
  </footer>
{% endblock footer_hack_end %}

{% block controlsbutton %}
{% endblock controlsbutton %}

{% block body %}

{% include "contact-common-content" %}

{% endblock body %}
