[Unit]
Description=The OpenPowerlifting App Server
After=network.target

# Documentation at https://www.freedesktop.org/software/systemd/man/systemd.service.html
# Also check out https://www.nginx.com/resources/wiki/start/topics/examples/systemd/
[Service]
Type=simple
ExecStart="{{ openpl_app_binary_path }}" --set-cwd "{{ openpl_app_data_path }}"

[Install]
WantedBy=multi-user.target
