<div class="l-container">
  <header class="l-header">
    <div class="header__logo">
      <img src="assets/img/logo.svg" alt="">
    </div>
    <nav class="nav nav--main">
      <a class="nav__link" href="#">Home</a>
      <a class="nav__link" href="#">About</a>
      <a class="nav__link" href="#">Contribute</a>
    </nav>
  </header>
</div>
