#mobile-content {
  padding-bottom: $footer-height;
  overflow: hidden;
  font-size: 12pt;

  div.content {
    padding: 0px 10px 0px 10px;
    font-size: 12pt;
  }

  div.mixed-content-with-controls {
    padding-top: 0px;
    overflow: hidden;
    font-size: 12pt;
  }

  div.mixed-content {
    overflow: hidden;
    font-size: 12pt;
  }

  div.text-content {
    padding: 0 20px 20px 20px;
    max-width: 800px;
    text-align: left;
    font-size: 12pt;
  }
}
