#mobile-menu-popup {
  position: fixed;
  left: -#{$slideout-menu-width};
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  background-color: $table-header-background-color;
  overflow-y: scroll;
  height: calc(100% - #{$footer-height});
  transition: left 0.3s; // slide out the menu
  font-size: 14pt;
  width: $slideout-menu-width;

  .mobile-menu-popup-menu-wrapper {
    min-height: 0;
    display: flex; // this is to have children with flex: 1 to fit in every screen
    flex-direction: column;
    overflow-y: scroll;
  }

  &.open {
    left: 0;
    width: $slideout-menu-width;
    overflow-y: scroll;
  }

  #footer-mobile-menu-selectors {
    padding: 10px 0px 20px 28px;
    min-height: 0;

    select {
      font-size: 12pt;
    }
  }

  .nav__link_mobile {
    display: block;
    width: 100%;
    padding: 10px 0px 10px 30px;
    text-decoration: none;
    box-sizing: border-box;
    min-height: 0;
    flex: 1; // this will give equal size to each menu item so they fit in all screens
  }
}
