<div id="header">
  <a href="https://www.openipf.org"><img class="header-logo" src="/static/images/{{statics::logo_gold_on_black_svg()}}" alt="OpenPowerlifting"/></a>
  <a href="https://www.powerlifting.sport"><img class="header-logo pad" src="/static/images/{{statics::x_ipf_gold_svg()}}" alt="IPF"/></a>
  <a href="{{urlprefix | safe}}" class="nav__link">{{strings.header.rankings}}</a>
  <a href="{{urlprefix | safe}}records" class="nav__link">{{strings.header.records}}</a>
  <a href="{{urlprefix | safe}}mlist" class="nav__link">{{strings.header.meets}}</a>
  <a href="{{urlprefix | safe}}status" class="nav__link">{{strings.header.status}}</a>
  <a href="{{urlprefix | safe}}faq" class="nav__link">{{strings.header.faq}}</a>
  <a href="https://openpowerlifting.gitlab.io/opl-csv/" class="nav__link">{{strings.header.data}}</a>
  <a href="https://www.plsource.org" class="nav__link" rel="noopener" target="_blank">{{strings.header.apps}}</a>
  <a href="https://openpowerlifting.bigcartel.com" class="nav__link" rel="noopener" target="_blank">{{strings.header.shop}}</a>
  <a href="https://gitlab.com/openpowerlifting/opl-data/-/issues/new" class="nav__link" rel="noopener" target="_blank">{{strings.header.contact}}</a>
  <a href="https://www.patreon.com/join/openpowerlifting" class="nav__link" rel="noopener" target="_blank">{{strings.header.supportus}}</a>
  <a href="https://instagram.com/openipf/" class="nav__link" rel="noopener" target="_blank"><i class="iglogo-alt"></i></a>
  <a href="javascript:void(0)" class="nav__link header-hamburger" onClick="document.getElementById('header').classList.toggle('responsive')">&#9776;</a>
  <div id="header-right">
    {% include "widget-weightunits" %}
    {% include "widget-langselect" %}
  </div>
</div>
