{% block content %}
<div class="l-container">
  <div class="l-content l-content--centered">
    <h1 class="header--hero">
      A permanent, accurate, convenient, accessible, open archive of the world's powerlifting data.
    </h1>
  </div>
</div>
{% endblock %}
