html,body {
  margin: 0;
  padding: 0;
  height: 100%;

  background-color: #000000;
  color: #FFFFFF;

  font-family: verdana,helvetica,arial,sans-serif;
}

.slick-header-columns {
}
.slick-viewport {
  display: flex;
  justify-content: center;
}

.slick-cell {
  padding-top: 4px;
  padding-left: 5px;
  color: #FFFFFF;
  font-size: 9pt;
  border: 0px;
}

.slick-cell a {
  color: #FFFFFF;
}

.slick-header-column {
  font-size: 9pt;
  color: red;
}

.slick-header-column.ui-state-default {
  border-right: 0px;
  border-bottom: 1px red;
}

.slick-row.even {
  background-color: #111111;
}

.flexbox {
  display: flex;
  height: 100%;
  flex-flow: column;
}

#theGrid {
  flex: 1;
}

#oplurl {
  color: red;
}

#header {
  margin: 10px;
  text-align: center;
  font-size: 40px;
  color: red;
  font-variant: small-caps;
}

#controls {
  margin: 10px;
}
